@mixin button {
  margin: 15px;
  margin-top: 25px;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: var(--button_Text);
  &:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  &:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
}
div.SectionTwo {
  border-top: 1px solid rgba(0, 0, 0, 0.248);
  position: relative;
  border-bottom: 1px solid grey;
  --button_Text:18px;
  div.WorkerAnimation {
    position: absolute;
    top: 5%;
    width: 900px;
  }
  div.SectionTwoDisplay {
    height: 900px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 100px;
    div.SectionTwoRight {
      div.work {
        display: flex;
        justify-content: flex-end;
        width: 800px;
        margin: 20px;
        margin-top: 10px;

        button {
          @include button;
        }
      }
      img.image {
        margin-top: 35px;
        border: 3.5px solid rgba(237, 234, 234, 1);
        width: 800px;
        height: 550px;
        object-fit: cover;
        margin-left: 20px;
        box-shadow: 20px 20px rgba(0, 10, 10, 0.08);
      }
    }
    div.SectionTwoLeft {
      display: grid;
      height: 510px;
      h2 {
        width: 70%;
        text-align: center;
        font-size: 40px;
        color: rgba(26, 23, 23, 0.979);
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        margin: auto;
        background: linear-gradient(
          to left,
          violet,
          indigo,
          rgb(0, 89, 222),
          rgb(0, 180, 117),
          rgb(192, 192, 0),
          rgb(204, 134, 3),
          red
        );
        -webkit-background-clip: text;
        color: rgba(18, 197, 149, 0.815);
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      div.Buttons {
        padding: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        button {
          @include button;
        }
      }
    }
  }
}

@media screen and (max-width: 1620px) {
  div.SectionTwo {
    --button_Text:12px;

    div.SectionTwoDisplay {
      div.SectionTwoLeft {
        h2 {
          font-size: 32px;
        }
      }
      div.SectionTwoRight {
        img.image {
          width: 700px;
          margin-right: 20px;
        }
        div.work {
          width: 680px;
        }
      }
    }
  }
}

@media screen and (max-width: 1370px) {
  div.SectionTwo {
    div.SectionTwoDisplay {
      height: 110vh;
      width: 90%;
      div.SectionTwoLeft {
        h2 {
          font-size: 25px;
        }
      }
      div.SectionTwoRight {
        img.image {
          width: 600px;
        }
        div.work {
          width: 580px;
        }
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  div.SectionTwo {
    div.WorkerAnimation {
      position: absolute;
      top: 3%;
      left: -5%;
      width: 700px;
    }
    div.SectionTwoDisplay {
      height: 100%;
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 0px;
      div.SectionTwoRight {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
        z-index: 1;

        img.image {
          border-radius: 30px;
          border: 3.5px solid rgba(237, 234, 234, 1);
          width: 650px;
          height: 500px;
          object-fit: cover;
          box-shadow: 0px 0px rgba(0, 10, 10, 0.08);
          justify-content: center;
          margin-left: 0px;
        }
      }
      div.SectionTwoLeft {
        display: grid;
        height: 510px;
        h2 {
          width: 70%;
          text-align: center;
          font-size: 30px;
          color: rgba(26, 23, 23, 0.979);
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          margin: auto;
          background: linear-gradient(
            to left,
            violet,
            indigo,
            rgb(0, 89, 222),
            rgb(0, 180, 117),
            rgb(192, 192, 0),
            rgb(204, 134, 3),
            red
          );
          -webkit-background-clip: text;
          color: rgba(18, 197, 149, 0.815);
          margin-bottom: 10px;
          padding-bottom: 10px;
          margin-top: 30px;
        }
        div.Buttons {
          padding: 20px;

          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: auto;
          button {
            margin: 15px;
            margin-top: 25px;
            align-items: center;
            appearance: none;
            background-color: #fcfcfd;
            border-radius: 4px;
            border-width: 0;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
              rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
            box-sizing: border-box;
            color: #36395a;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono", monospace;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow 0.15s, transform 0.15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow, transform;
            font-size: 18px;
            &:focus {
              box-shadow: #d6d6e7 0 0 0 1.5px inset,
                rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
            }
            &:hover {
              box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
              transform: translateY(-2px);
            }
            &:hover {
              box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  div.SectionTwo {
    div.WorkerAnimation {
    }
    div.SectionTwoDisplay {
      div.SectionTwoRight {
        img.image {
          margin: 0px;
          width: 100%;
          height: 100%;
          margin-top: -50px;
        }
      }
      div.SectionTwoLeft {
        height: 510px;
        margin-bottom: 0px;

        h2 {
          font-size: 20px;
          margin-bottom: 0px;
        }
        div.Buttons {
          margin-top: -50px;
          padding: 0px;
          button {
            font-size: 10px;
            height: 40px;
            &:focus {
            }
            &:hover {
            }
            &:hover {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 479px) {
}
