div.SectionOne {
  height: 100%;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 32% 70%;
  position: relative;
  div.lottie {
    position: absolute;
    height: 100%;
    z-index: -1;
    right: 1vw;
  }

  div.title {
    margin: 50px;
    top: 15%;
    display: flex;
    text-shadow: 5px 10px 5px #4843435a;
    div.text {
      font-size: 70px;
      display: grid;
      p {
        margin-top: 40px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1620px) {
  div.SectionOne {
  }
  div.page {
    div.SectionTwo {
      div.SectionTwoDisplay {
        div.SectionTwoLeft {
          h2 {
            font-size: 32px;
          }
        }
        div.pictures {
          img.image {
            width: 700px;
          }
          div.work {
            width: 680px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1370px) {
  div.SectionOne {
    height: 100%;
    img {
    }
    div.title {
      display: flex;
      text-shadow: 5px 10px 5px #4843435a;
      div.text {
        background-color: rgba(255, 255, 255, 0.267);
        border-radius: 10%;
        font-size: 50px;
        display: grid;
        p {
          margin-top: 40px;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  div.SectionOne {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    div.lottie {
      display: flex;
      justify-content: center;
      right: 0;
      left: 0;
      position: absolute;
      bottom: 0px;
      z-index: -1;
      height: 200px;
    }
    img {
    }
    div.title {
      display: flex;
      text-shadow: 5px 10px 5px #4843435a;
      div.text {
        font-size: 35px;
        display: grid;
        text-align: center;
        p {
          border-radius: 50%;
          padding: 20px;
          background-color: rgba(255, 255, 255, 0.336);
          margin-top: 5px;
          font-size: 12.5px;
        }
      }
    }
  }
}
